USE [master]
GO
/****** Object:  Database [ProyectoCoder2508]    Script Date: 19/09/2024 19:49:57 ******/
CREATE DATABASE [ProyectoCoder2508]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProyectoCoder2508', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ProyectoCoder2508.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ProyectoCoder2508_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ProyectoCoder2508_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProyectoCoder2508].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProyectoCoder2508]
GO
/****** Object:  Table [dbo].[Beneficiario]    Script Date: 19/09/2024 19:50:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Beneficiario](
	[BeneficiarioID] [varchar](500) NOT NULL,
	[HogarID] [varchar](500) NULL,
	[Edad] [float] NULL,
	[Fecha Nacimiento] [datetime] NULL,
	[OcupacionID] [varchar](500) NULL,
	[EstadoCivilID] [varchar](500) NULL,
	[GradoInstruccionID] [varchar](500) NULL,
	[Tipo Parentesco JH] [nvarchar](255) NULL,
 CONSTRAINT [PK_Beneficiario] PRIMARY KEY CLUSTERED 
(
	[BeneficiarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Desembolso]    Script Date: 19/09/2024 19:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Desembolso](
	[DesembolsoID] [varchar](500) NOT NULL,
	[Fecha Desembolso] [datetime] NULL,
	[HogarID] [varchar](500) NULL,
	[BeneficiarioID] [varchar](500) NULL,
	[ProyectoID] [varchar](255) NULL,
	[Monto BFH] [float] NULL,
	[Monto Ahorro] [float] NULL,
	[Valor Obra Vivienda] [float] NULL,
	[Modalidad] [nvarchar](255) NULL,
 CONSTRAINT [PK_Desembolso] PRIMARY KEY CLUSTERED 
(
	[DesembolsoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadoCivil]    Script Date: 19/09/2024 19:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoCivil](
	[EstadoCivilID] [varchar](500) NOT NULL,
	[Nombre] [nvarchar](255) NULL,
 CONSTRAINT [PK_EstadoCivil] PRIMARY KEY CLUSTERED 
(
	[EstadoCivilID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GradoInstruccion]    Script Date: 19/09/2024 19:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GradoInstruccion](
	[GradoInstruccionID] [varchar](500) NOT NULL,
	[Nombre] [nvarchar](255) NULL,
 CONSTRAINT [PK_GradoInstruccion] PRIMARY KEY CLUSTERED 
(
	[GradoInstruccionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hogar]    Script Date: 19/09/2024 19:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hogar](
	[HogarID] [varchar](500) NOT NULL,
	[Distrito] [nvarchar](255) NULL,
	[Ubigeo] [float] NULL,
 CONSTRAINT [PK_Hogar] PRIMARY KEY CLUSTERED 
(
	[HogarID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ocupacion]    Script Date: 19/09/2024 19:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ocupacion](
	[OcupacionID] [varchar](500) NOT NULL,
	[Nombre] [nvarchar](255) NULL,
 CONSTRAINT [PK_Ocupacion] PRIMARY KEY CLUSTERED 
(
	[OcupacionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proyecto]    Script Date: 19/09/2024 19:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proyecto](
	[ProyectoID] [varchar](255) NOT NULL,
	[Nombre] [nvarchar](255) NULL,
	[Entidad Tecnica] [nvarchar](255) NULL,
 CONSTRAINT [PK_Proyecto] PRIMARY KEY CLUSTERED 
(
	[ProyectoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Beneficiario]  WITH CHECK ADD  CONSTRAINT [FK_Beneficiario_EstadoCivil] FOREIGN KEY([EstadoCivilID])
REFERENCES [dbo].[EstadoCivil] ([EstadoCivilID])
GO
ALTER TABLE [dbo].[Beneficiario] CHECK CONSTRAINT [FK_Beneficiario_EstadoCivil]
GO
ALTER TABLE [dbo].[Beneficiario]  WITH CHECK ADD  CONSTRAINT [FK_Beneficiario_GradoInstruccion] FOREIGN KEY([GradoInstruccionID])
REFERENCES [dbo].[GradoInstruccion] ([GradoInstruccionID])
GO
ALTER TABLE [dbo].[Beneficiario] CHECK CONSTRAINT [FK_Beneficiario_GradoInstruccion]
GO
ALTER TABLE [dbo].[Beneficiario]  WITH CHECK ADD  CONSTRAINT [FK_Beneficiario_Hogar] FOREIGN KEY([HogarID])
REFERENCES [dbo].[Hogar] ([HogarID])
GO
ALTER TABLE [dbo].[Beneficiario] CHECK CONSTRAINT [FK_Beneficiario_Hogar]
GO
ALTER TABLE [dbo].[Beneficiario]  WITH CHECK ADD  CONSTRAINT [FK_Beneficiario_HogarID] FOREIGN KEY([HogarID])
REFERENCES [dbo].[Hogar] ([HogarID])
GO
ALTER TABLE [dbo].[Beneficiario] CHECK CONSTRAINT [FK_Beneficiario_HogarID]
GO
ALTER TABLE [dbo].[Beneficiario]  WITH CHECK ADD  CONSTRAINT [FK_Beneficiario_Ocupacion] FOREIGN KEY([OcupacionID])
REFERENCES [dbo].[Ocupacion] ([OcupacionID])
GO
ALTER TABLE [dbo].[Beneficiario] CHECK CONSTRAINT [FK_Beneficiario_Ocupacion]
GO
ALTER TABLE [dbo].[Desembolso]  WITH CHECK ADD  CONSTRAINT [FK_Desembolso_BeneficiarioID] FOREIGN KEY([BeneficiarioID])
REFERENCES [dbo].[Beneficiario] ([BeneficiarioID])
GO
ALTER TABLE [dbo].[Desembolso] CHECK CONSTRAINT [FK_Desembolso_BeneficiarioID]
GO
ALTER TABLE [dbo].[Desembolso]  WITH CHECK ADD  CONSTRAINT [FK_Desembolso_HogarID] FOREIGN KEY([HogarID])
REFERENCES [dbo].[Hogar] ([HogarID])
GO
ALTER TABLE [dbo].[Desembolso] CHECK CONSTRAINT [FK_Desembolso_HogarID]
GO
ALTER TABLE [dbo].[Desembolso]  WITH CHECK ADD  CONSTRAINT [FK_Desembolso_ProyectoID] FOREIGN KEY([ProyectoID])
REFERENCES [dbo].[Proyecto] ([ProyectoID])
GO
ALTER TABLE [dbo].[Desembolso] CHECK CONSTRAINT [FK_Desembolso_ProyectoID]
GO
USE [master]
GO
